<ion-content padding no-bounce>


    <form [formGroup]="form">

        <br>
        <br>
        <br>
        <br>
        <br>


        <ion-grid>
            <ion-row>
                <ion-col col-4>
                </ion-col>
                <ion-col col-4>

                    <ion-list>

                        شماره موبایل خود را برای احراز هویت وارد نمایید


                        <ion-item style="background-color:transparent;border:solid #B2B2B2 1px">
                            <ion-icon item-right name="phone-portrait" style="padding-left:10px;font-size:30px"> </ion-icon>
                            <ion-input formControlName="mobileNo" outline type="tel" style="direction:ltr;font-size:30px" placeHolder="(___) ___-____"
                                [textMask]="{mask: masks.phoneNumber}" autofocus  ></ion-input>


                            <div class="alert alert-danger" *ngIf="form.controls.mobileNo.touched && form.controls.mobileNo.hasError('required')">
                                شماره مویایل را وارد نمایید.
                            </div>

                            <p class="subtitle text-center" color="danger" *ngIf="form.controls.mobileNo.hasError('mobileNoIsInvalid')">
                                شماره مویایل باید 10 رقم باشد.

                            </p>










                        </ion-item>

                    </ion-list>




                </ion-col>
                <ion-col col-4>

                </ion-col>
            </ion-row>



            <ion-row>
                <ion-col col-4>

                </ion-col>
                <ion-col col-4 style="text-align:left">
                    <button ion-button color="light" block outline style="float:left" [disabled]="!form.valid" (click)="sendSMS();">
                دریافت کد فعال سازی از طریق پیامک
                    </button>
                </ion-col>
                <ion-col col-4>

                </ion-col>
            </ion-row>

             <ion-row *ngIf="ButtonPressed">
                <ion-col col-4>

                </ion-col>
                <ion-col col-4 style="text-align:left">
                    <button ion-button color="light" block outline style="float:left" [disabled]="!form.valid" (click)="enterSystem();">
                ورود به سامانه
                    </button>
                </ion-col>
                <ion-col col-4>

                </ion-col>
            </ion-row>

        <p class="subtitle text-center" color="danger" *ngIf="ButtonPressed">
            کد فعالسازی در صورت موفقیت فرایند احراز هویت، برای شما پیامک خواهد شد.

        </p>
        </ion-grid>

    </form>
    <!--</div>-->
</ion-content>