



$contentBackcolor: #263239;
   
$contentForecolor:#B2B2B2;

$tabsForecolor:#FFFFFF;

$toolbarBackcolor:#EF473A;

$itemBackcolor:#424242;

$text-input-highlight-color-invalid:$toolbarBackcolor;

@font-face {
    font-family: 'webYekan';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    src: url('../assets/fonts/iranSans.ttf');
}

html{
direction: rtl;

}

body {
    font-family: 'webYekan';
}


ion-app.md {
    font-family: 'webYekan';
    font-size: 1.4rem;
    background-color: rgb(255, 255, 255);
}

.menu-inner{
    left: auto;
    right:0;

}



.content-md{
        background-color: $contentBackcolor;
        color:$contentForecolor;
}



    .item-md
    {

            color:$contentForecolor;
            background-color: $itemBackcolor;
            border-bottom: 3px solid $contentBackcolor;
        
    }


.toolbar-background {background-color: $toolbarBackcolor;}


.searchbar-input-container {background-color: $tabsForecolor;}



.tabs-md .tabbar {
     background-color: #000000;
        color:$tabsForecolor;
}

.tabs-md .tab-button-icon{
   color:$tabsForecolor;


}

.tabs-md .tab-button{

      color:$tabsForecolor;

}



.tabs-md .tab-button[aria-selected=true] .tab-button-icon {

color:$toolbarBackcolor;

}
.tabs-md .tab-button[aria-selected=true] {

color:$toolbarBackcolor;

}

.toolbar-title-md{
color:$tabsForecolor;

}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
color:$tabsForecolor;

}

.list-md .item-block .item-inner {
    border-bottom: none;
}


.searchbar-md .searchbar-input {
   
    color: $contentForecolor;
    background-color: $itemBackcolor;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.searchbar-input-container {
    background-color: $itemBackcolor;
}


.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {

background-color: darken($itemBackcolor, 10%);
}

.tabs-md .tab-button-text {
    padding-left: 10px;
}


.card-md {
    background: $itemBackcolor;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

}

.card-content-md {
   text-align: justify;
}

 .toolbar-md-primary .toolbar-title-md {
  
    text-align: right;
}

.text-center{
text-align: center;

}
.text-input-md {

  text-align: center;
  //  font-size: 23px;
}

.item-md.item-block .item-inner {

    border-bottom: none;
}

ion-input {
    background-color: $contentBackcolor !important;
    color: $contentForecolor !important;
   
}

.list-md .item-input.input-has-focus:last-child{
    box-shadow: none;


}


.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color:$contentBackcolor;
   
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
    border-bottom-color: $contentBackcolor;
    box-shadow: none;
}


.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom-color: $contentBackcolor;
    box-shadow: none;
}

